<div class="container">
  <div class="row">
      <div class="col-sm-3" style="padding: 10px;" >
       
       
                 </div>
                  <div class="col-sm-6" style="padding: 35px;">
                  <div class="card">
                    <div class="card-header" >
                   <h1 style="font-size: 50px;">Form Validation<span style="color:red;">*</span></h1>
                   </div>
                  <div class="card-body">
                  <div class="container" >
                  <form [formGroup]="registrationForm"  class="form" (ngSubmit)="onSubmit()">

                  <!-----------------------------------------------------------associate name-------------------------------------------->
                  <label for="nm"></label>
                  <input type="text" name="associateName" id="nm" class="form-control " style="font-size: 35px;" placeholder="Associate Name" autocomplete="off" formControlName="associateName">
                  <div class="text-danger" *ngIf="submitted||getControls().associateName.invalid && (getControls().associateName.dirty || getControls().associateName.touched)">
                    <p style="color:red; font-size: 30px;" *ngIf="getControls().associateName.errors?.required">Please enter Associate Name</p>
                  </div>
                  <div style="color:red; font-size: 30px;" class="err-text "  id="nm"  *ngIf="getControls().associateName.hasError('pattern')">Accepts only alphabets,space , min 5 to max 30 characters</div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="nm" *ngIf="getControls().associateName.errors?.minlength">"Accepts alphabets,space & min 5 characters</div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="nm" *ngIf="getControls().associateName.errors?.maxlength">Accepts alphabets,space & max 30 characters</div>
                  
                 

                  <!-----------------------------------------------------associate id--------------------------------------------->
                  <label for="em" class="pt-5"></label>
                  <input type="text" name="associateId" id="em" class="form-control " style="font-size: 35px;"  autocomplete="off" placeholder="Associate Id" formControlName="associateId">
                  <div class="text-danger" *ngIf="submitted||getControls().associateId.invalid && (getControls().associateId.dirty || getControls().associateId.touched)">
                    <p style="color:red; font-size: 30px;" *ngIf="getControls().associateId.errors?.required">Please enter Associate Id</p>
                  </div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="em" *ngIf="getControls().associateId.hasError('pattern')">Invalid Associate Id,accepts min&max 6 characters</div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="nm" *ngIf="getControls().associateId.errors?.minlength">Min Length is 6</div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="nm" *ngIf="getControls().associateId.errors?.maxlength">Max Length is 6</div>

                  <!----------------------------------------------------project id------------------------------------------>
                  <label for="us" class="pt-5"></label>
                  <input type="text" name="projectId" id="un" class="form-control" style="font-size: 35px;"  autocomplete="off" placeholder="Project ID" formControlName="projectId">
                  <div class="text-danger" *ngIf="submitted||getControls().projectId.invalid && (getControls().projectId.dirty || getControls().projectId.touched)">
                    <p style="color:red; font-size: 30px;" *ngIf="getControls().projectId.errors?.required">Please enter Project ID</p>
                  </div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="un" *ngIf="getControls().projectId.hasError('pattern')">Invalid Project Id</div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="nm" *ngIf="getControls().projectId.errors?.minlength">Min Length is 12</div>
                  <div style="color:red; font-size: 30px;" class="err-text " id="nm" *ngIf="getControls().projectId.errors?.maxlength">Max Length is 12</div>




                  <!----------------------------------------------------------location----------------------------------->
                  <div class="form-group pt-5">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input border-secondary" type="radio" style="margin-bottom: 30px;" name="location" value="Offshore" id="Off" formControlName="location" (change)="offLoc()">
                      <label class="form-check-label" for="Off" style="font-size: 25px;">Offshore</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input border-secondary" type="radio" name="location" value="Onshore" id="On" formControlName="location" (change)="onLoc()">
                      <label class="form-check-label" for="On" style="font-size: 25px;">Onshore</label>
                    </div>
                  </div>


                  <!--------------------------------------------------------location select----------------------------->
                  <div class="form-group">
                    <select class="form-select " aria-label="Default select example" formControlName="place">
                      <option [value]=obj *ngFor="let obj of display" >{{obj}}</option>
                     
                    </select>

                    <div class="text-danger" *ngIf="submitted||getControls().place.invalid && (getControls().place.dirty || getControls().place.touched)">
                      <p style="color:red; font-size: 30px;" *ngIf="getControls().place.errors?.required">*Please select location</p>
                    </div>
                  </div>
              
                
                  <!-----------------------------------------------------------skills------------------------------>
                  <div class="form-group" formGroupName="myCheckboxGroup">
                    <div class="label pt-5" style="font-size:25px;"><strong>Skills</strong></div>
                    <div class="row pt-2">
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="html" id="myCheckbox1">
                          <label class="custom-control-label" for="myCheckbox1" style="font-size: 21px;">HTML5,CSS3,JS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="sass" id="myCheckbox2">
                          <label class="custom-control-label" for="myCheckbox2" style="font-size: 21px;">SASS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="es5" id="myCheckbox3">
                          <label class="custom-control-label" for="myCheckbox3" style="font-size: 21px;">ES5,ES6,ES7..</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="bootstrap" id="myCheckbox4">
                          <label class="custom-control-label" for="myCheckbox4" style="font-size: 21px;">Bootstrap 4</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="angular" id="myCheckbox5">
                          <label class="custom-control-label" for="myCheckbox5" style="font-size: 21px;">Angular 8</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="react" id="myCheckbox6">
                          <label class="custom-control-label" for="myCheckbox6" style="font-size: 21px;">React JS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="vue" id="myCheckbox7">
                          <label class="custom-control-label" for="myCheckbox7" style="font-size: 21px;">Vue JS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="typescript" id="myCheckbox8">
                          <label class="custom-control-label" for="myCheckbox8" style="font-size: 21px;">TypeScript</label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="express" id="myCheckbox9">
                          <label class="custom-control-label" for="myCheckbox9" style="font-size: 21px;">Express JS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="node" id="myCheckbox10">
                          <label class="custom-control-label" for="myCheckbox10" style="font-size: 21px;">Node JS</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" formControlName="mongo" id="myCheckbox11">
                          <label class="custom-control-label" for="myCheckbox11" style="font-size: 21px;">Mongo DB</label>
                        </div>
                      </div>
                    </div>
                      <div class="text-danger" *ngIf="submitted||getControls().myCheckboxGroup.invalid && (getControls().myCheckboxGroup.dirty || getControls().myCheckboxGroup.touched)">
                      <p style="color:red; font-size: 30px;" *ngIf="getControls().myCheckboxGroup.errors?.requireOneCheckboxToBeChecked">Please select Min 5 skills</p>
                    </div>
                  </div>



                  <!-------------------------------------------------upload profile--------------------------------->
                  <div class="form-group pt-5">
                    <label for="exampleFormControlFile1" style="font-size: 25px;" class="d-block mb-2"><strong> Upload Profile</strong></label>
                    <input type="file" class="form-control-file border-secondary" style="font-size: 20px;" id="exampleFormControlFile1" name="uploadProfile" formControlName="uploadProfile">
                    <div class="text-danger" *ngIf="submitted||getControls().uploadProfile.invalid && (getControls().uploadProfile.dirty || getControls().uploadProfile.touched)">
                      <p style="color:red; font-size: 30px;" *ngIf="getControls().uploadProfile.errors?.required">Please select location</p>
                    </div>
                  </div>


          

                  <!----------------------------------------------------comments----------------------------------------->
                  <div class="form-group pt-5">
                   <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control " id="exampleFormControlTextarea1" style="font-size: 25px;" rows="3" placeholder="Comments" name="comments" formControlName="comments"></textarea>
                    <div class="text-danger" *ngIf="submitted||getControls().comments.invalid && (getControls().comments.dirty || getControls().comments.touched)">
                      <p style="color:red; font-size: 30px;" *ngIf="getControls().comments.errors?.required">Please enter comments</p>
                    </div>
                  </div>
                

                  <!-----------------------------------------------------Buttons------------------------------------->
                  <div class="text-center pt-4">
                    <button type="submit" style="font-size: 30px;" class="btn btn-primary mt-4" [disabled]="registrationForm.invalid">Submit</button>
                    <button class="btn btn-danger mt-4 " style="margin-left: 15px; font-size: 30px;" type="reset" (click)="onReset()">Reset</button>
                </div>
                   
              </form>
          </div>
      </div>
      </div>
  </div>
      <div class="col-sm-3"></div>
  </div>
</div>
<router-outlet></router-outlet>